.bg{
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
  background-image: url("../bilder/bg.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

div.bg-primary, nav.bg-primary{
  background-color:#052f5f !important;
}

.footer{
  height: 50px;
  background-color: #052f5f;
  color: white;
  vertical-align: middle;
}