extends layout
block content
    h1 Hej världen
    p.klass Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt fugiat alias provident voluptates dolorem consectetur iure eius ducimus atque deleniti soluta, optio ex? Delectus minima numquam, aperiam expedita harum cupiditate?
    p(class='klass klass') Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odio deserunt quibusdam, provident ullam repellendus distinctio, eum natus ex necessitatibus repellat earum adipisci voluptatum vitae molestiae nostrum nesciunt facilis voluptatem.
    