nav(class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark")
    div(class="container-fluid")
        div(class="navbar-header")
            button(type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar")
                span(class="navbar-toggler-icon")
        a(class="navbar-brand" href="#")
            img(src="bilder/logo.png", alt="logo" width="450px" height="100px")
    div(class="collapse navbar-collapse" id="myNavbar")
        ul(class="nav navbar-nav mr-auto")
            li(class="nav-item active")
                a(href="#") Home
            li(class="nav-item")
                a(href="#") Page 1
            li(class="nav-item")
                a(href="#") Page 2
            li(class="nav-item")
                a(href="#") page 3