nav(class="navbar navbar-dark bg-primary")
    a(class="nav-link dropdown-toggler" data-toggle="dropdown" data-target="#navbarToggle")
        span(class="navbar-toggler-icon")
    div(class="dropdown-menu bg-primary")
        a(class="dropdown-item text-white" href="index.html") 
            h5 hem
        a(class="dropdown-item text-white" href="#") 
            h5 page 2
        a(class="dropdown-item text-white" href="#")
            h5 page 3
    a(href="index.html")
        img(src="bilder/logo_1.svg", alt="Bild på logo" width="225" height="75")        